body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    border-bottom: 3px solid black;
}

.name-icon {
    display: flex;
    height: 40px;
    width: 12%;
    align-items: center;
    /*justify-content: space-between;*/
    gap: 10px;
}

.name {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    color: rgb(97, 97, 255);
}

a {
    text-decoration: none;
    color: inherit;
}

.icon {
    max-width: 40px;
    height: auto;
}

.navbar-right-elements {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.navbar-right-elements > h3 {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: black;
    transition: color 0.3s ease;
    margin: 0;
}

.navbar-right-elements > h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: blue;
    transition: width 0.3s ease;
}

.navbar-right-elements > h3:hover {
    color: blue;
}

.navbar-right-elements > h3:hover::after {
    /*border-bottom: 2px blue solid;*/
    width: 100%;
}

